#firstPage{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header{
    height: 160px;
    background: red;
}
header img{
    width:100px;

}

section{
    width: 650px;
    height: 550px;
    float: left;
    background: yellow;
}

aside{
    width: 310px;
    height: 550px;
    float: right;
    background: green;
}

footer{
    height: 60px;
    clear: both;
    background: brown;
}